.statue-enter {
    position: absolute;
    opacity: 0.01;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}
  
.statue-enter-active {
    opacity: 1;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    transition: all 600ms ease-in-out;
}


.statue-exit {
    opacity: 1;
}

.statue-exit-active {
    opacity: 0;
    transition: all 600ms ease-in-out;
}



.leaveright-enter {
    position: absolute;
    right: 0;
    opacity: 0.01;
}
  
.leaveright-enter-active {
    position: absolute;
    right: 0;
    opacity: 1;
    /*
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    */
    transition: all 600ms ease-in-out;
}


.leaveright-exit {
    position: absolute;
    right: 0;
    /*
    -webkit-transform: translateX(0%);
    transform: translateX(0);
    */
    opacity: 1;
}

.leaveright-exit-active {
    position: absolute;
    right: 0;
    opacity: 0;
    /*
    -webkit-transform: translateX(200%);
    transform: translateX(200%);
    */
    transition: all 600ms ease-in-out;
}


.leaveleft-enter {
    position: absolute;
    right: 0;
    opacity: 0.01;
    -webkit-transform: translateX(200%);
    transform: translateX(200%);
}
  
.leaveleft-enter-active {
    opacity: 1;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    transition: all 595ms ease-in-out;
}

.leaveleft-enter-done {
    opacity: 1;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
}


.leaveleft-exit {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
}

.leaveleft-exit-active {
    opacity: 0;
    -webkit-transform: translateX(0%);
    transform: translateX(-200%);
    transition: all 595ms ease-in-out;
}
